# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Cruft
.DS_Store
npm-debug.log
.idea
.tmp

# Logs
*.log

# Docker
docker-compose.override.yml
Dockerfile

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build

# misc
*.local